pytorch-lightning==2.0.2
omegaconf==2.3.0
jaxtyping==0.2.19
typeguard==4.0.0
diffusers==0.16.1
transformers==4.46.3
accelerate==1.0.1
opencv-python
tensorboard
matplotlib
imageio
imageio[ffmpeg]
trimesh
libigl
xatlas
trimesh[easy]
networkx
pysdf
xformers==0.0.13
bitsandbytes
sentencepiece==0.1.99
safetensors==0.4.5
huggingface_hub==0.24.0
libigl
xatlas
trimesh
triton
networkx
PyMCubes==0.1.4
wandb
einops
kornia
taming-transformers-rom1504
ninja
smplx==0.1.28
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/openai/CLIP.git
git+https://github.com/markomih/COAP.git
git+https://github.com/facebookresearch/pytorch3d.git@v0.7.4
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2